<!DOCTYPE html>
<html>
<head>
  <title>Doomsayer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-2">
			<div class="eyes">
  				<div class="eye eye-left"></div>
  				<div class="eye eye-right"></div>
  				
			</div>
		</div>
		<div class="col-xs-4 slogan">
			<h2 id="logo-font">DOOMSAYER</h2>
			Keeping you in the know when the end is nigh!
		</div>
		<div class="col-xs-6 links">
			<%= link_to 'contribute', '#' %>
			<%= link_to 'about', '#' %>
		</div>
	</header>
	<hr />
	<br class="clear" />

	<div class="container">
		<%= yield %>
	</div>

	<div class="footer">
		<div class="col-xs-6">
			<%= link_to "This isn't enough, gimme more!", "#", :class => 'next-quote' %>
		</div>
		<div class="col-xs-6 blurb">
			Proudly built by <a href="http://hayli.github.io">hayli C.</a><br />
		</div>
	</div>

</body>
</html>
